<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Art_Gallery_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Art_Gallery.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>Art_Gallery.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gallery</display-name>
    <servlet-name>Gallery</servlet-name>
    <servlet-class>Art_Gallery.Gallery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gallery</servlet-name>
    <url-pattern>/Gallery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>Art_Gallery.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signupservlet1</display-name>
    <servlet-name>Signupservlet1</servlet-name>
    <servlet-class>Art_Gallery.Signupservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signupservlet1</servlet-name>
    <url-pattern>/Signupservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPainting</display-name>
    <servlet-name>UploadPainting</servlet-name>
    <servlet-class>Art_Gallery.UploadPainting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPainting</servlet-name>
    <url-pattern>/UploadPainting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinGallery</display-name>
    <servlet-name>JoinGallery</servlet-name>
    <servlet-class>Art_Gallery.JoinGallery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinGallery</servlet-name>
    <url-pattern>/JoinGallery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Options</display-name>
    <servlet-name>Options</servlet-name>
    <servlet-class>Art_Gallery.Options</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Options</servlet-name>
    <url-pattern>/Options</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGallery</display-name>
    <servlet-name>AddGallery</servlet-name>
    <servlet-class>Art_Gallery.AddGallery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGallery</servlet-name>
    <url-pattern>/AddGallery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExhibition</display-name>
    <servlet-name>AddExhibition</servlet-name>
    <servlet-class>Art_Gallery.AddExhibition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExhibition</servlet-name>
    <url-pattern>/AddExhibition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>Art_Gallery.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomer</display-name>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>Art_Gallery.AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>Art_Gallery.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPassword</display-name>
    <servlet-name>AdminPassword</servlet-name>
    <servlet-class>Art_Gallery.AdminPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPassword</servlet-name>
    <url-pattern>/AdminPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pdf_generate</display-name>
    <servlet-name>Pdf_generate</servlet-name>
    <servlet-class>Art_Gallery.Pdf_generate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pdf_generate</servlet-name>
    <url-pattern>/Pdf_generate</url-pattern>
  </servlet-mapping>
</web-app>